*{
    margin: 0;
    padding: 0;

    
}

h1, h2{
    margin: 0;
    padding: 0;
}

.header-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header{
    display: flex;
    flex-direction: row;
    width: 75vw;
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 20vh auto 5vh auto;
}

@media screen and (max-width: 756px){
    .header{
        flex-direction: column;
        width: 90%;
    }
}

.profile-photo{
    border-radius: 50%;
    background-image: url("./assets/images/ashish.jpg");
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}


.intro-column{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: flex;
    justify-content: center;
    padding-left: 3vw;
}


@media screen and (max-width: 756px){
    .intro-column{
        width: auto;
        /* align-items: center; */
        text-align: center;
        padding: 0;
    }
}


.intro-column h1{
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.intro-column h2{
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 1199px) and (min-width: 993px){
    .intro-column h1{
        font-size: 44px;
    }
    
    .intro-column h2{
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) and (min-width: 757px){
    .intro-column h1{
        font-size: 40px;
    }
    
    .intro-column h2{
        font-size: 16px;
    }
}

.specialities-row{
    /* align-items: center; */
    /* justify-content: center; */
    background-color: black;
    color:whitesmoke;
    padding: 15px 0;
    text-align:center;
    /* display: flex; */
    width: 100vw;
    max-width: 100%;
    margin: 5vh 0;
    font-size: 20px;
    box-shadow: 2px 2px 3px 3px grey;
}

.about-heading{
    margin: 5vh auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    color: black;
}

.about-box{
    padding: 0 10px;
    /* background-color: 040327; */
    width:60%;
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    text-align: left;
    border: 30px;
    margin: 5vh auto;
    /* box-shadow: 0 5px 6px 3px rgba(0, 0, 0, 0.5); */
    /* color: white; */
    font-size: 18px;
}

.quote{
    text-align: center;
}

@media screen and (max-width: 1199px) and (min-width: 993px){
    .about-box{
    width: auto;
    height: auto;
    }
}
@media screen and (max-width: 992px) and (min-width: 757px){
    .about-box{
        width: auto;
        height: auto;
    }
}
@media screen and (max-width: 757px){
    .about-box{
        width: 100%;
        height: 100%;
    }
}
.skills{
    font-size: 30px;
    text-align: center;
    margin: 15vh auto 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.skills-box1{
background-image: url("./assets/images/kycte.png");
width: 35%;
height: 48%;
background-size: cover;
background-position: center;
margin: 15vh auto 5vh auto;
box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1199px){
    .skills-box1{
    width: auto;
    height:auto;
    }
}
@media screen and (max-width: 992px) and (min-width: 757px){
    .skills-box1{
        width: auto;
        height: auto;
    }
}
@media screen and (max-width: 756px){
    .skills-box1{
    
        width: 100%;
        height: 40%;
    
    }
}

.skills-box2{
background-image: url("./assets/images/xrodiac.png");
width: 35%;
height: 48%;
background-size: cover;
background-position: center;
margin: 15vh auto 15vh auto;
box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1199px) and (min-width: 993px) { 
    .skills-box2{
        width: auto;
        height:auto;
    }
}


@media screen and (max-width: 992px) and (min-width: 757px){
    .skills-box2{
        width: 100%;
        height: 50%;
    }
}
@media screen and (max-width: 756px){
    .skills-box2{
    
        width: 100%;
        height: 40%;
    
    }
}

.contact-box{
    margin: 10vh auto 0 auto;
    width: 100vw;
    max-width: 100%;
    height: auto;
    border: 35px;
    background-color: black;
    text-align: center;
    
    
    
}

.contacts-row{
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    font-size: 15px;

}

.fa{
    margin:6vh 0 2vh 1vh ;
    height: 2vw;
    width:5vw;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: white;
}


